*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    color: #333;
    display: inline-block;
    padding: 1rem;
    position: relative; /*items inside will be absolute*/
}

#navbar ul li a {
    color: #333;
    text-decoration: none;
}

/* Hide nested uls by default */
#navbar ul li > ul {
    display: none;
}

#navbar ul li:hover {
    color: #fff;
    background: coral;
    cursor: pointer;
}

#navbar ul li:hover a{
    color: #fff;
}

/* Show nested drop down when hover */
#navbar ul li:hover ul {
    display: block;
    width: 15rem;
    position: absolute;
    left: 0;
    margin-top: 1rem;
}

#navbar ul li:hover ul li {
    background: #e7e7e7;
    display: block;
}

#navbar ul li:hover ul li a{
    color: #333;
}

#navbar ul li:hover ul li:hover{
    background: #e0e0e0;
    color: inherit;
}

#navbar ul li:hover ul li span {
    float: right;
    color: #fff;
    background: coral;
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
    background: chocolate;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: chocolate;
}

#header h1 {
    color: #fff;
    font-size: 4rem;
}

@media(max-width: 600px) {
    #navbar ul li {
        display: block;
    }

    #navbar ul li:hover ul {
        width: 100%;
        position: relative
    }
}