// Variables

$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/showcase.jpg");

@mixin icon($size, $padding) {
  height: $size;
  width: $size;
  display: inline-block;
  text-align: center;
  padding: $padding;
  border-radius: 50%;
  line-height: $size;
}

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
