// Tablets and Smaller

@media (max-width: 800px) {
  #header-home {
    height: 30rem;
  }
}

@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      height: 10rem;
      border-bottom: 3px solid $main-color;

      .header-content {
        display: none;
      }
    }
    &-inner {
      height: 10rem;
    }
  }

  .grid-4,
  .about-me .container,
  #contact-form form,
  #contact-data .container,
  .items {
    grid-template-columns: 1fr;
  }

  //   eliminate spans in about-me section
  .about-me .container > *:nth-child(2) {
    grid-column: 1;
  }

  #contact-form form input,
  #contact-form form textarea,
  #contact-form form input[type="submit"] {
    grid-column: 1;
  }

  #special div {
    border-bottom: 1px $light-color solid;
    padding-bottom: 1rem;
  }
  #special div:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .stats div {
    div {
      padding: 1rem 0;
    }
  }

  #footer .container {
    flex-direction: column;
  }
}
