.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  overflow: hidden;
  margin: auto;
}

// Buttons shared properties
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

// background colors
.bg {
  &-light {
    background-color: $light-color;
  }
  &-medium {
    background-color: $medium-color;
  }
  &-dark {
    background-color: $dark-color;
    color: #fff;
  }

  &-main {
    background-color: $main-color;
    color: set-text-color($main-color);
  }
}

.color {
  &-main {
    color: $main-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $main-color;
  color: set-text-color($main-color);
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.bottom-line {
  width: 3rem;
  border: 1px solid $main-color;
  margin: auto;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

// Section header

.section-header {
  h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 1rem;
  }
}

// Padding classes

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.px {
  &-1 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}
