@import "config";
@import "utilities";
@import "item_grid";

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
}

// Main Nav
#navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header and showcase
#header {
  &-home {
    background: $bg-image no-repeat center center/cover;
    color: #fff;
    height: 100vh;

    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
  &-inner {
    background: $bg-image no-repeat center 30% / cover;
    color: #fff;
    border-bottom: 3px solid $main-color;
  }
}

//Home sections

// Spezialization-section

.detail-grid {
  h2 {
    font-size: 2rem;
    font-weight: lighter;
  }

  .container {
    grid-gap: 1rem;
  }

  h3 {
    padding: 0.3rem;
  }
}

// Statistics Section
.stats div {
  div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 2.5rem 0;
  }

  p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

.expanding-icon {
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;
  line-height: 0;

  i {
    color: #fff;
    background-color: $dark-color;
    @include icon(70px, 2rem);
    transition: background-color, padding 1s;
  }

  .stage-number {
    @include icon(20px, 0.8rem);
    background-color: $main-color;
    color: #fff;
    font-weight: bolder;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color 1s;
  }
}

.expanding-icon:hover {
  i {
    background-color: $main-color;
    padding: 3rem;
  }

  .stage-number {
    background-color: $dark-color;
  }
}

// Footer
#footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
  }

  li {
    margin: 0.5rem;
  }
  a {
    color: #fff;
    border: 2px solid #fff;
    @include icon(1.5rem, 0.4rem);
  }
}

// About me section

.about-me {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    & > *:nth-child(2) {
      grid-column: 2 / -1;
      border-left: 3px solid $main-color;
    }
  }
}

%empty-bar {
  height: 1.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $medium-color;
  position: absolute;
  right: 0;
}

#progress-bars {
  .bar {
    height: 1.5rem;
    width: 100%;
    border-radius: 5px;
    background-color: $main-color;
    position: relative;
    margin-bottom: 0.5rem;
  }

  .empty-0 {
    @extend %empty-bar;
    width: 0%;
  }
  .empty-15 {
    @extend %empty-bar;
    width: 15%;
  }
  .empty-25 {
    @extend %empty-bar;
    width: 25%;
  }
}

.tools {
  .container {
    grid-gap: 6rem;
  }
}

#testimonials {
  padding-top: 0;
  padding-bottom: 3rem;
  .container {
    grid-gap: 1rem;
  }

  .testimonial {
    & > *:first-child {
      border: 1px solid $medium-color;
      border-radius: 5px;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    .witness {
      display: flex;
      align-items: center;
    }
  }
}

#contact-form {
  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;

    input,
    textarea {
      padding: 0.8rem 1rem;
      border: solid 1px $medium-color;
      border-radius: 5px;
      grid-column: span 2;
      font-family: "Dosis", sans-serif;
    }

    textarea {
      grid-column: span 4;
      height: 6rem;
    }

    input[type="submit"] {
      grid-column: 2 / span 2;
      margin-top: 3rem;
      border: none;
    }
  }
}

#contact-data {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

#contact-footer {
  h1 {
    font-size: 4rem;
    font-weight: 600;
  }
}

@import "media";
