body {
}

#navbar .hotel-logo {
    float: none;
    text-align: center;
}

#navbar ul,
#navbar ul li {
    float: none;
    text-align: center;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
}

/* Home info */
#home-info .info-img{
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
}

#features {
    height: fit-content;
}
.box {
    float: none;
    width: 100%;
    padding: 25px;
}

/* About */
.description-text,
.description-image {
    float: none;
    width: 100%;
}

.description-image {
    border-radius: 50%;
}

#about-description .description-text h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
}

#contact-info .box {
    border-bottom: dotted #444 1px;
}

#contact-info .box:last-child {
    border-bottom: none;
}

