/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main styling: everything that doesn't have a class or an id */
/* Normally, this is basic stuff like font size, some paddings, text colors, general link colors */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0px;
}

/* Utility Classes */

/* put the content into a container so it does not extend over the whole website. */
.container {
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
    margin: auto;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;

}

.button {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 13px 20px;
    border: none; /* buttons by default have borders and since we want to add this to a button too, we need to make sure borders don't appear*/
    cursor: pointer;

}

.button:hover {
    background-color: #f7c08a;
    color: #333;
}

.button-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    color: #333;;
    background: #f7c08a;
}

.clr {
    clear: both;
}
/* Navbar */

#navbar {
    color: #fff;
    background-color: #333;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    /* display: inline; should work too?? */
    float: left; 
}

/* everything else that we style is on the a tag inside the li */
#navbar ul li a {
    padding: 20px; /* apply padding here so when hovered, the whole item is highlighted*/ 
    display: block; /* so element can have padding and margin to all 4 sides */
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    color: #f7c08a;
}

#showcase-area {
    background-image: url("./../img/showcase.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

#showcase-area .showcase-content {
    text-align: center;
    padding-top: 170px;
    color: #fff;
}

#showcase-area .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase-area .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* Home Info */

#home-info {
    height: 450px;
}

.info-img {
    background-image: url("../img/photo-1.jpg");
    background-repeat: no-repeat;
    float: left;
    width: 50%;
    min-height: 100%;

}

#home-info .info-content {
    float: right;
    width: 50%;
    text-align: center;
    height: 100%; 
    padding: 50px 30px;
    overflow: hidden;

}

#home-info .info-content p {
    padding-bottom: 30px;
}

/* features */

#features {
    height: 300px;
    overflow: hidden;
}

.box {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 50px;
}

#features div i {
    margin-bottom: 10px;
}

/* Main Footer */
#main-footer {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
}

/* About page */

#about-description {
    overflow: auto;
    padding: 30px;
}

.description-text {
    float: left;
    width: 50%;
    padding-right: 30px;
}

.description-image {
    float: right;
    background-image: url("../img/photo-2.jpg");
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius: 200px;

}

#opinions {
    background-image: url("../img/test-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
}

#opinions h1 {
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.opinion-box {
    margin: 20px 0;
    overflow: auto;
    border-radius: 5px;
    opacity: 0.8;
    padding: 30px;
}

.opinion-box img {
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.opinion-box p {
    width: 80%;
}

/* Contact page */

#contact-form .container h1 {
    font-size: 30px;
}

#contact-form {
    margin: 20px 0px;
}

.contact-form {
    width: 100%;
}

.data-entry {
    padding-bottom: 10px;
}
.data-entry label {
    display: block;
}

.data-entry input,
.data-entry textarea {
    width: 100%;
    border: 1px #ddd solid;
    padding: 10px;
}

.data-entry input:focus,
.data-entry textarea:focus {
    border-color: #f7c08a;
    outline: none;
} 

.data-entry textarea {
    height: 200px;
}



#contact-info .contact-details{
    float: left;
    height: 180px;
    width: 33.3%;
    text-align: center;
    margin-top: 60px;
}
#contact-info i {
    display: block;
}