/* Navigation */

#navbar {
    flex-direction: column;
}

#navbar .social {
    display: none;
}

#navbar .menu a {
    padding: 0.4rem;
}

/* Editor picks */
.article-grid {
    grid-template-columns: repeat(2, 1fr);
}

.article-grid .article-box:first-child,
.article-grid .article-box:last-child
{
    grid-column: 1;
}

.article-box {
    flex-direction: column;
}

@media(max-width: 600px) {
    .grid-container,
    .article-grid,
    .footer-grid-container{
        grid-template-columns: 1fr;
    }

    .footer-grid-container div {
        text-align: center;
    }

    .footer-grid-container div:first-child,
    .footer-grid-container div:nth-child(2) {
        border-bottom: 1px dotted #777;
        padding-bottom: 1rem;
    }

    .footer-grid-container div:last-child {
        grid-column: 1;
    }

    #article-section .container 
    {
        grid-template-columns: 1fr;
        grid-template-areas:
            "article"
            "sidebar1"
            "sidebar2";
    }

    .article h1 {
        font-size: 1.5rem;
    }

    
}