:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --social-color: #777;
    --max-width: 1100px;
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
}

h1, h2, h3, h4 {
    font-family: 'Staatliches', cursive;
    padding: 0.5rem 0;
    line-height: 1.3;
}

/* Navbar */
.navbar-container{
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed takes it out of the flow of the document, it's not there for the other elements */
    position: sticky; 
    top: 0px;
    padding: 0.5rem;
    z-index: 2;
}


#navbar {
    display: flex;
    width: 100%;
    max-width: var(--max-width);
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    flex-grow: 1;
}

#navbar div {
    /* border: solid #333 1px; test to see flexbox better */
    flex: 1;
}

#navbar div:first-child{
    flex-grow: 2;
}

#navbar img {
    width: 150px;
}

#navbar .social,
#navbar .menu {
    display: flex;
    justify-content: flex-end;
}

#navbar .social a {
    color: var(--social-color);
    margin: 0.3rem;
    transition: color 0.5s ease;
    text-decoration: none;
}

#navbar .social a:hover {
    color: var(--primary-color);
}

#navbar .menu a {
    text-decoration: none;
    padding: 0.7rem;
    color: var(--dark-color);
    font-weight: bolder;
    transition: background, color 0.5s ease;
}

#navbar .menu a:hover {
    background-color: var(--light-color);
    color: #000;
}

#navbar .menu .current {
    background-color: var(--primary-color);
    color: #fff;
}

/* Overlay */

.showcase-container {
    background: url(../img/featured.jpg) no-repeat center center/cover;
    height: 65vh;
    width: 100%;
    position: relative;
    color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.showcase-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

/* Featured article */

.grid-container {
    width: 100%;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem;
}

.grid-container h1 {
    font-weight: bolder;
    margin: 1rem 0;

}

/* Editor Picks - article grid */
#editor-picks {
    background: var(--light-color);
    width: 100%;
}

.article-grid-container {
    margin: auto;
    max-width: var(--max-width);
    padding: 2rem;
}

.article-grid-container h2 {
    padding: 1rem 0;
    /* display: block; */
}

.article-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.article-grid img {
    width: 100%;
}

.article-grid .article-box:first-child {
    grid-column: 1 / span 2;
}

.article-grid .article-box:last-child {
    grid-column: 2 / span 2;
}

/* Footer */
#footer {
    background: var(--dark-color);
    color: #fff;
}

.footer-grid-container {
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 2rem 2rem;
}

.footer-grid-container div:last-child {
    grid-column: 1 / span 4;
    background-color: #444;
    width: 100%;
    padding: 1rem;
}

.footer-grid-container div:last-child p{
    text-align: center;
    font-size: 0.7rem;
}

.footer-grid-container div img {
    width: 100%;
}

#footer .email-input {
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
}

#footer .btn-footer {
    width: 100%;
    margin-top: 0;
}

#footer .footer-menu li {
    list-style: none;
    border-bottom: var(--light-color) 1px dotted;
    padding: 0.5rem;
}

#footer .footer-menu li:last-child {
    border-bottom: none;
}
#footer .footer-menu li a {
    text-decoration: none;
    color: #fff;
}

/* Article Page */
#article-section {
    background-color: var(--light-color);
    padding-top: 1rem;

}

#article-section .container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 2rem;

    grid-template-areas:
        "article sidebar1"
        "article sidebar2"
        "article ."
}

.article {
    grid-area: article;
    background-color: #fff;
    padding: 1rem;
}

.article h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

.article .author {
    background: var(--light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.article p {
    padding: 0.5rem 0;
}


.sidebar1 {
    grid-area: sidebar1;
}

#article-section .article img{
    width: 100%;
}

#article-section .sidebar1 {
    background: #fff;
    padding: 0.5rem 1rem;
}

#article-section .sidebar1 ul{
    list-style: none;
}


#article-section .sidebar1 ul li{
    display: block;
    border-bottom: 1px var(--dark-color) dotted;
    padding: 0.5rem 0;
}

#article-section .sidebar1 ul li:last-child {
    border-bottom: none;
}

#article-section .sidebar1 ul li a{
    text-decoration: none;
    color: var(--dark-color);
}

#article-section .sidebar1 ul li:hover,
#article-section .sidebar1 ul li:hover a{
    color: var(--primary-color);
}

#article-section .sidebar2 {
    padding: 1rem;
}

#article-section .sidebar2 .btn {
    display: block;
    text-align: center;
    background-color: #000;
}