.article-category {
    display: inline-block;
    padding: 0.1rem 0.6rem;
    margin: 0.2rem 0;
    border-radius: 20px;
    font-size: 0.6rem;
    color: #fff;
}

.ent {
    background-color: var(--ent-color);
}

.tech {
    background-color: var(--tech-color);
}
.btn {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    color: #fff;
    margin-top: 1rem;
    display: inline-block;
    transition: opacity 0.5s ease-in;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

.light {
    background: #fff;
    color: #000;
}

.dark {
    background: var(--dark-color);
    color: #fff;
}

.red {
    background: var(--primary-color);
    color: #fff;
}

.orange {
    background: var(--secondary-color);
    color: #fff;
}
.article-box {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.article-box div {
    flex: 1;
}

.article-box .box-text {
    padding: 0.5rem;
}

.vertical {
    flex-direction: column;
}

.vertical-reverse {
    flex-direction: column-reverse;
}

.horizontal-reverse {
    flex-direction: row-reverse;
}

.sports {
    background-color: var(--secondary-color);
}