:root {
    --primary-color: #425b84;
    --secondary-color: #5b7bb4;
    --max-width: 1100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1rem/1.5 'Arial', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

/* Header */

.container {
    background-color: var(--secondary-color);
    padding: 4rem;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.3rem;
}

/* Timeline */
#timeline {
    background-color: var(--primary-color);
    justify-content: center;
}

#timeline ul {
    background: var(--primary-color);
    padding: 3rem;
}

/* The line */
/* He composes the line as part of every li, which makes sense since it should be as long as the sum of all items */
#timeline ul li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #fff;
}

/* Boxes */
#timeline ul li div{
    bottom: 0;
    background: var(--secondary-color);
    width: 20rem;
    padding: 1rem;
    transition: all 0.5s ease-in-out;
    position: relative;
    visibility: hidden;
    opacity: 0;
}

/* right side */
#timeline ul li:nth-child(odd) div{
    left: 3rem;
    transform: translate(30rem, 0);
}

/* left side */
#timeline ul li:nth-child(even) div{
    left: -23rem;
    transform: translate(-30rem, 0);
}

#timeline ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

#timeline ul li.show:after {
    background-color: var(--secondary-color);
}

/* Dots */

#timeline ul li:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: inherit;
    transform: translateX(-50%);
    transition: background 0.5s ease-in-out;
}

/* Arrows Base */

#timeline div::before{
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
}

/* Right side arrows */
/* I understood how this works with a code snippet from the css-tricks page which is called CSS Triangle */
#timeline ul li:nth-child(odd) div:before{
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
}

#timeline ul li:nth-child(even) div:before{
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--secondary-color);
}

@media(max-width: 900px) {
    #timeline ul li div {
        width: 12rem;
    }

    #timeline ul li:nth-child(even) div {
        left: -15rem;
    }
}

@media(max-width: 600px) {
    #timeline ul li {
        margin-left: 20px;
    }

    #timeline ul li div {
        width: calc(100vw - 10rem);
    }

    #timeline ul li:nth-child(even) div {
        left: 3rem;
    }

    #timeline ul li:nth-child(even) div:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--secondary-color) transparent transparent;
    }
}