@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* base default styles for elements */

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    /* navbar will always be stuck to the top although you scroll down */
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
}

.navbar.top {
    background: transparent;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar ul {
    display: flex;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid;
}

.navbar.logo {
    font-weight: 400;
}

/* Header */
.hero {
    background: url(../images/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
    width: 100%;
}

.blog {
    background: url(../images/home/blog.jpg) no-repeat center center/cover;
    height: 30vh;
}

.hero .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    height: 100%;
    padding: 0 20px;
    width: 100%;  
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero::before {
    content: '';
    position: absolute; /* because the parent is relative */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
/* everything that's inside hero is pulled to the front */
.hero * {
    z-index: 10;
}

/* Icons */

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons div {
    text-align: center;
}

.icons i {
    color: white;
    background-color: #28a745;
    padding: 1rem;
    margin-bottom: 15px;
    border-radius: 50%;
}

/* Post */
.post {
    padding: 50px 30px;
}

.post h2 {
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: #ccc solid 1px;
}

.post h4 {
    margin-bottom: 15px;
}

.post img {
    width: 300px;
    display: block;
    border-radius: 50%;
    margin: 0 auto 30px;
}

/* Footer */

.footer {
    height: 25vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer i {
    color: #fff;
    margin: 0 20px;
}

.footer i:hover {
    color: #28a745;
}
.flex-columns p {
    margin: 20px 0;
}

/* Mobile Interface */
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        justify-content: space-around;
    }

    .navbar a {
        padding: 10px 5px;
    }

    .flex-items {
        flex-direction: column;
    }

    .flex-items img {
        width: 70%;
    }

    .flex-columns .row {
        flex-direction: column;
    }

    .flex-grid .grid-row {
        flex-direction: column;
    }

    .flex-grid .grid-column {
        flex-basis: 100%;
        max-width: 100%;
    }
}





