/* Text colors */
.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

.btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    opacity: 0.9;
}

.btn i {
    padding: 0 5px;
}

.btn-primary, .bg-primary {
    background-color: #28a745;
    color: #fff;
}

.btn-secondary, .bg-secondary {
    background-color: #0284d0;;
    color: #fff;
}

.btn-dark, .bg-dark {
    background-color: #333;
    color: #fff;
}

.btn-light, .bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

/* Flex Items */

.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.flex-items div {
     padding: 20px;
}

.flex-items img {
    border-radius: 50%;
}

/* Flex columns */
/* I want all the items in my row (the 2 columns) aligned in a row */
.flex-columns .row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; not sure why this is needed, maybe for stacking later?*/
    width: 100%;
}

.flex-columns .invert {
    flex-direction: row-reverse;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    flex: 1;

}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    /* do not stretch out the image in an ugly way */
    object-fit: cover;
}

.flex-columns form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;

}

.flex-columns form input{
    padding: 10px;
    margin: 5px 0;

    border: none;
} 

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
    padding-bottom: 15px;
}

.flex-columns h4  {
    margin-bottom: 10px;

}

/* Header */
.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px 0 5px 0;
}

.section-header h2 {
    font-size: 40px;
    margin: 20px 0;
}

.section-padding {
    padding: 20px 20px 40px;
}

/* Flex grid */
.flex-grid .grid-row {
    display: flex;
    flex-direction: row;
}

.flex-grid .grid-column {
    display: flex;
    flex-direction: column;
    /* this has to be here and not in the container because every individual item should indicate how much space it needs */
    /* flex: 1; */
    flex-basis: 25%;
    max-width: 25%;
}
.flex-grid img {
    padding: 5px;
}

.flex-grid img:hover {
    opacity: 0.7;
}

.post-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.post-image img {
    flex-basis: 10%;
    border-radius: 50%;
}