.menu-wrap {
    /* we fixed it so it is on top of everything on the page */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line (empty div inside the hamburger class */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger top and bottom lines */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}

/* Here I rotate the line below and the line above and put them one on top of the other */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after
{
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1; 
}

/* menu-part */
/* I want it to stick to the top left and normally hidden */
/* since the divs inside scale and are made visibile, I didn't use the visibility attribute here */
.menu-wrap .menu {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    /* visibility: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.4s transform;
}

.menu-wrap .menu > div > div {
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out 0.3s;

}

.menu-wrap .menu > div > div > ul {
    text-decoration: none;
    list-style: none;

}

.menu-wrap .menu > div > div > ul > li {
    margin: 1.5rem 0;
}

.menu-wrap .menu > div > div > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    transition: color 0.8s ease;
}

.menu-wrap .menu > div > div > ul > li:hover > a {
    color: var(--secondary-color);
    
}