/* global css Variables */
:root {
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color: teal;
    --page-4-color: slateblue;
    --animate-speed: 2s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #fff;
    margin: 0;
    padding: 0;
    /* no scrollbars! */
    overflow: hidden;
}

/* Page colors */
#page-1 {
    background-color: var(--page-1-color);
}

#page-2 {
    background-color: var(--page-2-color);
}

#page-3 {
    background-color: var(--page-3-color);
}

#page-4 {
    background-color: var(--page-4-color);
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}

.page h1 {
    font-size: 4rem;
    
}

.page p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: #f4f4f4;
    color: #333;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: 0.3s background ease-in;
}

.btn:hover,
.btn-dark {
    background: #333;
    color: #f4f4f4;
}

.btn-dark:hover {
    color: #333;
    background: #f4f4f4;
}

/* Page 1 Animations */
#page-1 h1 {
    transform: translateY(-40rem);
    animation: heading var(--animate-speed) forwards ease-in-out;
}
@keyframes heading {
    to {
        transform: translateY(0);
    }
}

#page-1 p{
    transform: translateX(-60rem);
    animation: paragraph var(--animate-speed) forwards ease-in-out 2s;
}  

@keyframes paragraph {
    to {
        transform: translateX(0);
    }
}